<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bibim.purpur">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.PurPurApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_icon"
        android:label="푸르푸르 구조대"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/img_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service android:name=".BGMService" >
            <intent-filter>
                <action android:name="com.bibim.purpur" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ui.islandSelect.IslandSelectActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.LoadingActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.name.NameActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.detail.main.DetailActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.island.IslandActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.ButtonActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>